<div class="overflow-auto h-100">
    <div class="container">   
        <div class="row justify-content-md-center"> 
        <!-- <div *ngIf='!loc'>
        </div> -->
    </div>
    <h5 class="font-weight-bold"><img src="https://brands.home-assistant.io/_/openweathermap/logo.png" style="height: 75px;"> API</h5>
        <form (ngSubmit)='search(searchForm)' #searchForm='ngForm' class="form-inline my-2 my-lg-0">
          <input class="form-control-lg mr-lg-2" type="search" placeholder="Enter a location" aria-label="Search"
            [(ngModel)]='loc' #lo='ngModel' name='lo' autocomplete="off" required type='text'>
          <button class="btn btn-dark btn-lg my-2 my-sm-0" type="submit">Search</button>
          </form>
          
    <!-- <app-top-bar></app-top-bar> -->
    </div>
    
    <div class="h-100" *ngIf='loc'>
        <app-current-weather></app-current-weather>
    </div>
    </div>
