<div class="overflow-auto h-100">

    <div class="container">
        <div class="row justify-content-md-center">
            <!-- <div *ngIf='!loc'>
    </div> -->
        </div>

        <app-top-bar></app-top-bar>

    </div>

    <div class="h-100" *ngIf='loc'>
        <app-current-weather></app-current-weather>
    </div>

</div>