<!-- <div class="container align-middle"> -->
  <!-- <div class="row justify-content-md-center mt-5 mb-5"> -->
    <nav class="navbar navbar-expand-lg justify-content-between"> 
      <a class="navbar-brand">
    <h5 class="font-weight-bold"><img src="https://brands.home-assistant.io/_/openweathermap/logo.png" style="height: 75px;"> API</h5></a>
    <form (ngSubmit)='search(searchForm)' #searchForm='ngForm' class="form-inline my-2 my-lg-0" autocomplete="off">
      <input class="form-control-lg mr-lg-2" type="search" placeholder="Enter a location" aria-label="Search"
        [(ngModel)]='loc' #lo='ngModel' name='lo' autocomplete="off" required type='text'>
      <button class="btn btn-dark btn-lg my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

<!-- </div> -->
<!-- </div> -->