/* .card {
    background-color: #0c0c0c;
} */

.menu-scroll {
    /* overflow-y: hidden; */
    max-height: 519px;
    overflow-x: hidden;
}

/* #main {
    height: 485px;
} */

/* #add {
    height: 150px;
} */
/* 
#forecast {
height: 150px;
} */

sup {
    vertical-align: super;
    font-size: x-small;
}

.card-title {
    color: 	#666666;
}

#col-title {
    color: 	#eb6e4b;
}

#loc-date {
    color: #444444;
}

body {
    overflow: auto;
}
