<div class="container w-100 h-auto" *ngIf='resultFound()' >

  <div class="row h-100">
    <div class="col-md-7 col-12">
      <h1 class="text-center font-weight-bold" id="col-title">Current Weather</h1>
      <div class="card text-center mb-3 shadow" *ngIf='resultFound()' id="main">
        <h1 class="text-uppercase font-weight-bold mb-0 mt-5" id="loc-date">{{currentWeather.name}},
          {{currentWeather.sys?.country}}</h1>
        <h2 class="mt-0 font-weight-bold" id="loc-date">{{currentWeather.dt*1000 | date:'dd MMM y h:mm a' }}</h2>

        <!-- Temperature -->
        <div class="row justify-content-center mt-4 mb-7">
          <div class="col-4 mt-auto mb-auto">
            <h5 class="card-title font-weight-bold text-uppercase">Temperature</h5>
            <!-- <p class="card-text">{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>o</sup>C</p> -->
            <h1 class="display-3">{{currentWeather.main?.temp - 273.15 | number:'1.0-0'}}<sup>&#x2103;</sup></h1>
            <!-- <img ng-src="http://openweathermap.org/img/w/{{currentWeather.weather?.icon}}.png" src="http://openweathermap.org/img/w/{{currentWeather.weather?.icon}}.png">  -->
          </div>

          <!-- Sunset & Sunrise -->
          <div class="col-4">
            <div class="w-100">
              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="partly-sunny" class="icon pr-2" style="color:#fcae1e;"></ion-icon>Sunrise
              </h5>
              <h4 class="card-text mb-5">{{currentWeather.sys?.sunrise*1000 | date:'h:mm a'}}</h4>

              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="cloudy-night" class="icon pr-2" style="color:#311432;"></ion-icon>Sunset
              </h5>
              <h4 class="card-text">{{currentWeather.sys?.sunset*1000 | date:'h:mm a'}}</h4>
            </div>
          </div>
        </div>

        <!-- Clouds, Humidity, Pressure, Visibility-->
        <div class="row justify-content-center mt-5 ml-1 mr-1 mb-5">
          <div class="col-12 col-md-3">
            <div class="text-center mb-2" *ngIf='resultFound()' id="add">
              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="cloud" class="icon pr-2" style="color:gray;"></ion-icon>Clouds
              </h5>
              <h4 class="">{{currentWeather.clouds?.all}}%</h4>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="text-center mb-2" *ngIf='resultFound()' id="add">
              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="water" class="icon pr-2" style="color:skyblue;"></ion-icon>Humidity
              </h5>
              <h4 class="">{{currentWeather.main?.humidity}}%</h4>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="text-center mb-2" *ngIf='resultFound()' id="add">
              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="trending-up" class="icon pr-2" style="color:blue"></ion-icon>Wind
              </h5>
              <h4 class="">{{currentWeather.wind?.speed*3.6 | number:'1.2-2'}} km/h</h4>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <div class="text-center mb-2" *ngIf='resultFound()' id="add">
              <h5 class="card-title font-weight-bold text-uppercase">
                <ion-icon name="eye" class="icon pr-2" style="color: slategray;"></ion-icon>Visibility
              </h5>
              <h4 class="">{{currentWeather.visibility/1000 | number:'1.2-2'}} km</h4>
            </div>
          </div>
        </div>
      </div>




    </div>
    <div class="col-md-5 col-12 h-100">
      <!-- Forecast -->
      <h1 class="text-center font-weight-bold" id="col-title">3-Hour Forecast</h1>
      <ul class="list-group-horizontal menu-scroll pl-0" *ngIf='resultFound()'>
        <div class="card mb-3 ml-3 mr-3 shadow" *ngFor='let l of forecast.list' id="forecast">
          <p class="text-center font-weight-bold mt-1 mb-0 pb-2">{{l.dt*1000 | date:'dd MMM y h:mm a'}}</p>


          <div class="row justify-content-center">
            <div class="col-5 text-center">
              <h1 class="display-4">{{l.main?.temp - 273.15 | number:'1.0-0'}}<sup>&#x2103;</sup></h1>
            </div>

            <div class="col-5 text-center align-middle mb-2" *ngFor='let w of l.weather'>
              <img src="http://openweathermap.org/img/w/{{w?.icon}}.png">
              <p class="text-capitalize">{{w?.main}} <br> ({{w?.description}})</p>
            </div>
          </div>

        </div>
      </ul>

    </div>
  </div>

  <div *ngIf='!resultFound()'>
    <h1 class="alert alert-danger text-center" role="alert">{{msg || 'Failed to get weather.'}}</h1>
  </div>

</div>

